body{
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    color: black;
    background-color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    vertical-align: top;
    padding: 8px;
}

h1, h2{
    color: #2c3e50;
    margin-bottom: 5px;
}

hr{
    border: 0;
    border-top: 2px solid #2c3e50;
    margin: 10px 0 20px 0;
}
